### Install lxml library to read Wikipedia data into a Pandas data

In [ ]:
pip install lxml

### Import necessary libraries and downlaod the postal code data of Toronto and save it in a dataframe

In [3]:
import pandas as pd
import numpy as np
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url, header=0)[0]

df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Remove NA or NULL values from Borough column of the dataframe

In [4]:
df2 = df[df['Borough'].notnull()]
df2.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Next remove "Not Assigned" values from Borough column of the dataframe

In [5]:
df3 = df2[df2['Borough'] != 'Not assigned']
df3.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [6]:
df3.shape

(103, 3)

### Finally check if Neighborhood column has 'Not Assigned' values and if it contains make it as same as Borough

In [7]:
df4 = df3[df3['Neighborhood'] != 'Not assigned']
df4.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Check the shape of the new dataframe after cleaning the data

In [9]:
df4.shape

(103, 3)